html {
  background-color: #c9b5ab;
  color: #222;
  line-height: 1.5;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}

nav li a {
  color: #8f2440;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
}

nav .list-style-none {
  list-style-type: none;
  font-weight: bold;
}

nav a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {
  width: 100%;
}

figcaption {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

data {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-weight: bold;
}

p {
  font-family: "PT Serif", serif;
  font-size: .8rem;
}

p b {
  font-weight: bold;
}

blockquote {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
}

strong {
  font-weight: normal;
}

cite {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  font-style: italic;
  display: block;
}

aside ol li {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  list-style-type: lower-greek;
}

dl dt {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  font-weight: bold;
}

dl dt i {
  font-weight: normal;
  padding: 1rem 0;
}

.spacing {
  padding: 1rem 0;
}

b {
  font-weight: bold;
}

ul li {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  list-style-type: circle;
}

footer {
  font-family: "PT Serif", serif;
  font-size: .8rem;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

/* PT Sans font-family: 'PT Sans', sans-serif;

PT Serif: font-family: 'PT Serif', serif; */
